<%- include('header'); -%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-lg-4 mx-auto mt-4">
      <div class="card animated fadeInDown">

        <div class="card-body">

            <form class="form-group mb-0" action="/upload" method="post" enctype="multipart/form-data">

              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile02" name="image">
                  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose image</label>
                </div>
              </div>


              <input class="form-control my-4" type="text" name="title" placeholder="Title">

              <div class="form-group">
                <textarea class="container-fluid" name="description" rows="5"></textarea>
              </div>

              <button class="btn btn-success btn-block" type="submit">Upload</button>
            </form>

        </div>

      </div>
    </div>
  </div>
</div>

<%- include('footer'); -%>
